#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  text-align: center;
}

.logo {
  height: 40pt;
  padding: 5pt;
}

.account {
  height: 32pt;
  padding: 5pt;
}

.card {
  padding: 2em;
}

.page {
  display: flex;
  flex-direction: column;
  padding-top: 70pt;
}

.wrap {
  flex: 1;
  flex-wrap: wrap;
  justify-content: right;
}

.pageWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 70pt;
}

.header {
  position: fixed;
  top: 10pt;
  left: 10pt;
  right: 10pt;
  background-color: #4c3b4d;
  width: calc(100vw - 40pt);
  height: 50pt;
  border-radius: 50pt;
  display: flex;
  flex-direction: row;
  padding-left: 10pt;
  padding-right: 10pt;
  align-items: center;
  justify-content: space-between;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ada8b6;
  width: 100vw;
  height: 35pt;
}

.title {
  font-size: 32pt;
  color: #a53860;
}

.middle {
  justify-content: center;
}

.block {
  flex: auto;
  display: flex;
  flex-grow: unset;
  margin-left: 20pt;
  margin-right: 20pt;
  margin-bottom: 10pt;
  background-color: #ffeedb;
  border-radius: 10pt;
  justify-self: center;
}

.nav {
  flex: auto;
  display: flex;
  margin-left: 20pt;
  margin-right: 20pt;
  margin-bottom: 10pt;
  width: calc(100vw - 70pt);
  background-color: #ffeedb;
  border-radius: 10pt;
  justify-content: space-between;
  padding: 10pt;
  padding-bottom: 10pt;
  color: black;
  align-items: center;
}

.highlight {
  background-color: #ffeedb;
  color: black;
}

.search {
  flex: 1;
  flex-grow: 1;
  background-color: white;
  color: black;
  padding: 8pt;
  margin-left: 30pt;
  margin-right: 30pt;
  border-radius: 15pt;
  border-style: solid;
  border-color: #4c3b4d;
  margin-top: 20pt;
}

.otherInput {
  background-color: white;
  color: black;
  padding: 5pt;
  border-radius: 15pt;
  border-style: solid;
  border-color: #4c3b4d;
  flex-grow: 1;
}

.otherLabel {
  padding: 5pt;
}

.bold {
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputRow {
  background-color: white;
  border-radius: 15pt;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10pt;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20pt;
  margin-right: 20pt;
  margin-bottom: 10pt;
  width: calc(100vw - 50pt);
}

.resultColumns {
  display: flex;
  gap: 10pt;
  width: 100%;
  max-width: 1800px;
}

.resultColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10pt;
}

.resultBlock {
  width: 100%;
  border-radius: 10pt;
  background-color: #ffeedb;
}

.single {
  padding: 10pt;
  gap: 10pt;
}

.maxW {
  max-width: 300pt;
}

.collectionRow {
  padding: 5pt;
  border-top-style: dashed;
  border-top-width: 1pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  justify-items: left;
}

.pushApart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.gap {
  display: flex;
  gap: 5pt;
}

h1 {
  margin: 0pt;
}

.textLink {
  background: none;
  border: none;
  color: #4c3b4d;
  text-decoration: underline;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
}
.textLink:hover {
  color: #a53860;
}
.textLink:focus {
  outline: none;
}

.filterColumn {
  display: flex;
  flex-direction: column;
  padding: 5pt;
  gap: 5pt;
}
